/* Global */ 

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.btn {
  width: 60px;
  background: none;
  width: 60px;
  color: #888;
  font-size: 15px;
  border: 0px;
  cursor: pointer; 
  outline: none;
  line-height: 0;
}

.btn:hover {
  color: #3a3a3a;
}

.input {
  display: inline-block;
  flex-grow: 1;
  width: 318px;
  height: 21px;
  margin: 0;
  padding: 0 10px;
  font-size: 18px;
  font-family: Lato, sans-serif;
  line-height: 18px;
  color: #888;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.input:focus {
  color: #333;
}

/* Header */

.header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
  line-height: 1;
}

.header__title {
  visibility: hidden;
  margin: 0;
  line-height: 0;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

/* Main */

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* Section add-task */

.add-task {
  margin-top: 17px;
  margin-bottom: 15px;
}

.add-task__form {
  display: flex;
}

.add-task__title {
  display: block;
  margin: 16px 0 20px;
  padding: 30px 0 10px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

.add-task__input {
  display: inline-block;
  flex-grow: 1;
  width: 318px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

/* Section todo */

.todo__title {
  margin: 0;
  padding: 30px 0 10px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
}

/* Todo list */

.todo__list {
  margin: 0;
  padding: 0px;
}

.todo__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  list-style: none;
}

.todo__checkbox {
  margin: 0 10px;
}

.todo__label {
  flex-grow: 1;
  width: 224px;
  padding-left: 10px;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.todo__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn_delete .todo__img:hover {
  transform: rotateZ(0);
}

/* Completed */

.todo__list_completed .todo__label {
  color: #888;
  text-decoration: line-through;
}

/* Edit task */

.todo__list-item .input {
  display: none;
}

.todo__list-item_edit .input {
  display: inline-block;
  width: 224px;
}

.todo__list-item_edit .todo__label {
  display: none;
}


